* {
  margin: 0;
  font-size: 15px;
}
@font-face {
  font-family: big-shoulders;
  src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}
@font-face {
  font-family: Lexend-Deca;
  src: url(https://fonts.google.com/specimen/Big+Shoulders+Display);
}

.page-link {
  background-color: red;
  margin: 10px 30px;
  display: inline-block;
  padding: 14px 35px;
  text-decoration: none;
  color: white;
  font-size: bold;
  border-radius: 10px;
}
.page-link:hover {
  background-color: rgb(69, 5, 5);
}

header {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.cars {
  display: flex;
  width: 60%;
}
.cars div {
  padding: 40px;
  border-radius: 5px;
  color: white;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
}
.cars img {
  margin-bottom: 40px;
}
.cars p {
  margin-block: 20px;
  font-family: big-shoulders;
  font-weight: 700;
  font-size: 25px;
}
.cars h3 {
  font-size: 15px;
  margin-bottom: 100px;
  font-family: Lexend-Deca;
  font-weight: 400;
}
button {
  border-radius: 30px;
  padding: 10px 20px;
  border: 2px white solid;
  background: none;
  cursor: pointer;
  color: white;
}
@media screen and (max-width: 375px) {
  .cars {
    display: block;
    width: 80%;
    height: 50%;
  }
  header {
    width: auto;
    height: 100%;
    margin: 15px;
  }
  .cars div {
    padding: 20px;
  }
}
